---
layout: page
title: EVERYDAI
<!--subtitle: Deep Learning in Psychology
use-site-title: false

<!--bigimg:
  - "/imgs/daytona.jpg" : "Daytona Fury"
  - "/imgs/onyx.jpg" : "Onyx 1 Goldcubes"
  - "/imgs/patek.jpg" : "Patek Painting"-->

---


<div class="list-filters">
  I am into:
  <a href="/festivals" class="list-filter">Festivals</a>
   |
  <a href="/watches" class="list-filter">Watches</a>
   |
  <a href="/automobiles" class="list-filter">Automobiles</a>
   |
  <a href="/sports" class="list-filter">Sports</a>
   |
  <a href="/random" class="list-filter">Random mix</a>
   |
  <a href="/customjobs" class="list-filter">Something else</a>
</div>


<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
