---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/bootstrap-social.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"
common-googlefonts:
  - "Open+Sans:300,600,300italic,600italic"
  - "Open+Sans:200italic,300italic,400italic,500italic,600italic,200,300,400,500,600"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
